.aux/main-blx.bib
.aux/main.aux
.aux/main.fdb_latexmk
.aux/main.lof
.aux/main.log
.aux/main.lol
.aux/main.lot
.aux/main.run.xml
.aux/main.toc
.gitignore
main.bbl
main.blg
main.fls
main.pdf
main.synctex.gz
.aux/content/appendixB.aux
hsrmreport.cls
main_compressed.pdf
main.fls
main.pdf
main.synctex.gz
svg-inkscape/8_linearitaet_x_svg-tex.pdf
svg-inkscape/8_linearitaet_x_svg-tex.pdf_tex
svg-inkscape/8_linearitaet_y_svg-tex.pdf
svg-inkscape/8_linearitaet_y_svg-tex.pdf_tex
svg-inkscape/filtered_svg-tex.pdf
svg-inkscape/filtered_svg-tex.pdf_tex
svg-inkscape/unfiltered_svg-tex.pdf
svg-inkscape/unfiltered_svg-tex.pdf_tex
svg-inkscape/wiederholung_svg-tex.pdf
svg-inkscape/wiederholung_svg-tex.pdf_tex
8_linearitaet_x_svg-tex.pdf
8_linearitaet_x_svg-tex.pdf_tex
8_linearitaet_y_svg-tex.pdf
8_linearitaet_y_svg-tex.pdf_tex
filtered_svg-tex.pdf
filtered_svg-tex.pdf_tex
main.fls
main.pdf
main.synctex.gz
unfiltered_svg-tex.pdf
unfiltered_svg-tex.pdf_tex
wiederholung_svg-tex.pdf
wiederholung_svg-tex.pdf_tex
svg-inkscape/flow_chart_svg-raw.pdf
svg-inkscape/flow_chart_svg-tex.pdf
svg-inkscape/flow_chart_svg-tex.pdf_tex
svg-inkscape/sch_fingering_svg-tex.pdf
svg-inkscape/sch_fingering_svg-tex.pdf_tex
svg-inkscape/sch_read_svg-tex.pdf
svg-inkscape/sch_read_svg-tex.pdf_tex
svg-inkscape/sch_read_y_svg-tex.pdf
svg-inkscape/sch_read_y_svg-tex.pdf_tex
svg-inkscape/versuchsaufbau_svg-tex.pdf
svg-inkscape/versuchsaufbau_svg-tex.pdf_tex
flow_chart_svg-raw.pdf
flow_chart_svg-tex.pdf
flow_chart_svg-tex.pdf_tex
main.fls
main.pdf
main.synctex.gz
sch_fingering_svg-tex.pdf
sch_fingering_svg-tex.pdf_tex
sch_read_svg-tex.pdf
sch_read_svg-tex.pdf_tex
sch_read_y_svg-tex.pdf
sch_read_y_svg-tex.pdf_tex
versuchsaufbau_svg-tex.pdf
versuchsaufbau_svg-tex.pdf_tex
